.members-view {
  padding-top: 58.45px;
  height: 100vh;
  color: black;
}

.ReactTable {
  height: 100%;
}

@media (max-width: 767px) {
    .members-view {
      padding-top: 0;
      height: calc(100vh - 52px - 2em);
    }
  }
