body {
  height: 100%;
  color: white;
}

.body-container {
  padding-top: 7em;
}

.ui.inverted.menu {
  background-color: #880000;
  height: 58.45px;
}

.ui.inverted.menu .item:before {
  background: none;
}

.home-link {
  display: flex;
  align-items: center;
}

.link {
  height: 100%;
}

.dropdown-link {
  color: rgba(0,0,0,.87)!important;
}

.dropdown-link:hover {
  color: rgba(0,0,0,.95) !important;
  background: rgba(0,0,0,.05)!important;
}

.ui.menu:not(.vertical) .item>a>.sign-up-button {
  margin-left: 0.25em;
  margin-right: 0;
}

.ui.menu:not(.vertical) .item>a>.button:focus {
  box-shadow: 0 0 0 2px #fff inset!important;
  background: transparent none;
  color: #fff;
}

.logo {
  margin-right: 1.5em;
}

@media only screen and (min-width: 768px) {
  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: 0;
  }
}
