body {
  height: 100%;
  color: white;
}

.ui.header.white {
  color: white;
}

.fullscreen-bg {
    position: fixed;
    top: 58.45px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
}

.fullscreen-bg:before {
  content: '';
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
    .fullscreen-bg {
        display: none;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

.body-container {
  padding-top: 7em;
}

.ui.inverted.menu {
  background-color: #880000;
}

.ui.inverted.menu .item:before {
  background: none;
}

.ui.menu:not(.vertical) .item>.sign-up-button {
  margin-left: 0.5em;
}

.logo {
  margin-right: 1.5em;
}

@media only screen and (min-width: 768px) {
  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
    border-left: 0;
  }
}
